<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<%= link_to t('button.edit'), edit_owner_student_path(@student) %> |
<%= link_to t('button.back'), owner_students_path %>
