

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control", required: true %>
  <span class="help-block"><i>* <%= t('validation.required_field')%></i><span>
</div>

