
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      ¡Hola! Somos una escuela de música y contamos con profesores para el dictado de clases para niños, adolescentes y adultos. 
    </p>

    <p>
        Nos especializamos en las siguientes asignaturas:

      <ul>
          <li>Iniciación Musical (de 5 a 7 años)</li>
          <li>Canto</li>
          <li>Ukelele</li>
          <li>Piano</li>
          <li>Guitarra</li>
          <li>Bajo</li>
          <li>Batería</li>
      </ul>
    </p>

    <p>Damos clases individuales o grupales en horarios. Armamos ensambles vocales y bandas y a fin de año organizamos una muestra en vivo.</p>

    <p>
        Nos encontramos en Beccar a solo dos cuadras del Colegio Marín. 
    </p>
    
    <br>

    <%= image_tag('images/flyer_2019.jpg') %>

    <p>Si te interesa inscribirte a vos o algún familiar, no dudes en contactarnos. ¡Los esperamos!</p>

    <p>
      Atentamente, <br> 
      BeBop Escuela de Música
    </p>
  </body>
</html>
