

<div class="form-group">
  <%= f.label "Total a abonar" %>
  <%= f.text_field :total_to_pay, class: "form-control", required: true %>
</div>

<div class="form-group">
  <%= f.label "Pagado hasta el momento" %>
  <%= f.text_field :amount_paid, class: "form-control", required: true %>
</div>